body{
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0 auto;
color:#545554;
background:url(/cs.jpg) repeat top left #FFFFFF;
}
.clear{clear:both;}
p{
padding:5px 0 5px 0;
margin:0px;
line-height:18px;
text-align:left;
}
a{
color:#de462a;
text-decoration:underline;
}
#main_container{
width:960px;
height:auto;
padding:0px 0 0px 0; margin:auto;
}
.header{ width:960px; height:120px;}
.logo{
float:left;
padding:0px 0 0 35px;
font-size:50px;
margin:20px 0 0 0;
background:url(/CSS/adaria/images/cs.jpg) no-repeat left;
background-position:0px 22px;
}
.logo a{ color:#454546; text-decoration:none; letter-spacing:-3px;}
.slogan{ float:left; margin:57px 0 0 8px;}
.header_socials{
padding:50px 0 0 0;
float:right;
margin:0;
}
.header_socials a{
float:left; margin:0 3px 0 3px;
}

/*--------------------------featured slider content------------------------*/
.sliderwrapper{
width:960px; /*width of featured content slider*/
height:292px;
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
clear:both;
padding:30px 0 0 0;
}
.slider_content{
margin:0;
float:left;
width:960px;
height:292px;
}
#featured{ 
width:960px; 
padding:0; 
position:relative;  
height:292px; 
}
#featured ul.ui-tabs-nav{
float:right;
list-style:none; 
padding:20px 0 0 0; margin:0; 
width:330px;
background:url(images/slider_details_bg.jpg) no-repeat center;
height:272px; 
}
#featured ul.ui-tabs-nav li{ 
padding:0px;  
font-size:12px; 
color:#fff; 
}
#featured li.ui-tabs-nav-item a{ 
display:block;
width:305px;
height:45px; 
color:#fff;
background:url(images/slider_tab.png) no-repeat center;
line-height:45px; text-decoration:none; font-weight:bold; padding:0 0 0 19px; margin:0 0 7px 0;
float:left;
position:relative; left:-10px; z-index:999; outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
background:url(images/slider_tab_hover.png) no-repeat center; color:#fff; 
}
#featured li.ui-tabs-selected{ 
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
background:url(images/slider_tab_hover.png) no-repeat center; color:#fff;
}
#featured .ui-tabs-panel{ 
width:630px; height:292px; 
position:relative;
float:left;
}
#featured .ui-tabs-panel .info{ 
position:absolute; 
bottom:20px; left:20px;
width:290px; 
height:auto; 
background: url('images/transparent-bg.png'); 
}
#featured .info p{
padding:15px; margin:0px; color:#FFFFFF; font-size:11px; line-height:18px;
}
#featured .ui-tabs-hide{ 
display:none; 
}
.center_content{
width:960px; clear:both; padding:35px 0 0 0;
}
.center_content_pages{
width:960px; clear:both; padding:15px 0 0 0;
}
.leftbox{
width:290px;
float:left;
margin:0 45px 0 0;
}
.leftbox_right{
width:290px;
float:right;
margin:0 0 0 0;
}
a.more{
background:url(images/more_bullet.gif) no-repeat right; padding:0 25px 0 0; line-height:30px; text-decoration:none; float:right; margin:10px 0 0 0;
}
.news_box{
width:290px;
padding:0 0 20px 0;
float:left; clear:both;
}
.date{
width:71px; height:30px; background:url(images/date.gif) no-repeat center; float:left; text-align:center; color:#fff; font-size:11px; line-height:27px;
}
.news_box h3{font-size:14px; padding:0 0 0px 15px; margin:0px; float:left;}
.news_box h3 a{ text-decoration:none;}
.news_box p{width:205px; float:right;}
.testimonial{
background:url(images/quotes_top.jpg) no-repeat top left;
padding:0 0 0 20px;
margin:0 0 30px 0;
}
.testimonial_quotes{
background:url(images/quotes_bottom.jpg) no-repeat bottom right;
padding:0 20px 0 0;
font-style:italic;
}
.pages_banner{ width:930px; height:80px; background:url(images/pages_banner.gif) no-repeat center; margin:0 0 20px 0; line-height:80px; font-size:24px; padding:0 0 0 30px;}
.left_content{
width:180px;
float:left;
}
.right_content{
width:600px;
float:right;
}
.right_content_modified{
	width:750px;
	float:right;
	left: 40%
}
ul.left_menu{
padding:0px 0 40px 0; margin:0px; list-style:none;
}
ul.left_menu li{
padding:10px 0 10px 0; margin:0px;
}
ul.left_menu li ul{
padding:15px 0 5px 30px; margin:0px; list-style:none;
}
ul.left_menu li ul li{
border:none;
}
ul.left_menu li a{
background:url(images/list_bullet.gif) no-repeat left; color:#545554; text-decoration:none; padding:0 0 0 15px;
}
ul.left_menu li a:hover{
color:#de462a;
}
img.pages_pic{ border:4px #fff solid; margin:0 0 20px 0;}

/*-------------------------------------form-------------------------------------*/
.form{width:500px;float:left;clear:both;padding:0px 0 40px 20px;}
.form_row{width:500px;float:left;clear:both;margin:20px 0 0 0;}
.form_row label{width:120px;float:left;padding:5px 20px 0px 0;font-size:14px; color:#de462a; text-align:right; text-transform:lowercase;}
.form_input{width:320px;height:35px;float:left;padding:0px 0px 0 10px; background-color:#E7E5DE; border:none; color:#000;}
.form_textarea{width:320px;height:70px;float:left;padding:10px 0px 30px 10px; background-color:#E7E5DE; border:none; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
input.form_submit{float:right; clear:both; margin:20px 30px 0 0px; width:149px; height:34px; text-align:center; color:#fff; font-size:16px; background: #666666; border:none; font-weight:bold; padding:0 0 0 0px; cursor:pointer;}
/*-----------footer---------*/
.footer{
width:950px;
clear:both;
text-align:left;
padding:12px 0 12px 10px;
border-top:1px #d5d5d5 solid;
margin:50px 0 0 0;
}
.copyrights{
float:left;
}
.footer_right{
float:right;
}
.footer_right a{
text-decoration:none; padding:0 10px 0 10px; color:#545554;
}
.footer_right a:hover{
color:#de462a;
}
#center{
position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
}
.center
{
	text-align: center;
	margin-left: 30%;
}
input,button,textarea
 {
 	margin:0;padding:0;font-size:100%;font-family:inherit}
 button{-moz-box-sizing:content-box;box-sizing:content-box}
 
 

h1 {font-size: 4.1em; 
	letter-spacing: -0.075em; 
	text-transform: uppercase; 
	line-height: 0.9; 
	color: #555;
	margin: 0 0 0.5em; 
	font-weight: normal; }
h2 { font-size: 2.5em; margin: 0 0 20px; letter-spacing: -0.05em; color: #555; line-height: 1; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.17em; text-transform: uppercase; margin: 0; color: #555; }
h6 { font-size: 1em; margin-bottom: 2px; font-weight: 700; }

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#333; text-decoration: none;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#0078CF;text-decoration: underline;}
 
 html, button, input, select, textarea {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight: 400; /* normal */
	color: #555; 
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}
	button, input, select, textarea{font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle}
button, input{line-height:normal; *overflow:visible}

button, input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer; -webkit-appearance:button}

::-webkit-input-placeholder { color: #BBB;}
:-moz-placeholder {color: #BBB;}
:-ms-input-placeholder {color: #BBB;}